/* 
====================================
Sets up styles for .sidebar-container 
====================================
*/
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}

h3 {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    font-family: 'Carrois Gothic SC', sans-serif; 
}

h6 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: white;
}
.ital {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

.sidebar-container {

    background: linear-gradient(#231F20, #231F21);
    height: 100%;
    position: fixed;
    padding: 30px;
    width: 240px;
    position: fixed;
}

.sidebar-logo {
    border-radius: 60%;
    border-width: 500px;
    height: 175px;
    width: 175px;
    border-color: white;

}

.sidebar-color {
color: white;
text-align: center;
font-family: 'Carrois Gothic SC', sans-serif;
font-size: 14pt;

}

nav {
    top: 0;
}
  
nav a,
nav h2 {
    display: block;
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
}
/* 
====================================
Sets up styles for .content-container 
====================================
*/

/* Positions section container in relation to .sidebar-container */
.section-container {
      margin-top: 10px;
      margin-left: 245px;
      padding: 30px 30px;
      height: 100%;
  
}

.section-logo {
    border-width: 100px;
    height: 100px;
    width: 100px;
}

.section-header {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 18pt;
}
/* Sets max width for content and align content in middle of section-container */
.content-container {

   
}

/* Sets row behavior using flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.row-container-no-wrap {
    width: 100%;
    display: flex;
    /* sets spacing between elements */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
  
}

.row-container {
    width: 100%;
    display: flex;
}


/* Typography Styles */

.type-faces-02 {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}

.type-faces-01 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16pt;
}
.roboto-sample {
    font-family: 'roboto', sans-serif;
    font-size: 13pt;
}

.nanum-sample {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13pt;
}

/* Color Palette */

.colorBox{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #627c7f;
    margin: 40%;
}

.colorBox2 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #78f0ff;
    margin: 40%;
}

.colorBox3 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #c5f9ff;
    margin: 40%;
}

.colorBox4 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #3d787f;
    margin: 40%;
}

.colorBox5 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #9ec7cc;
    margin: 40%;
}

.colorBox6 {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background: #4FBDCC;
    margin: 40%;
}

.colorBox7 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #274B76;
    margin: 40%;
}

.colorBox8 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #DBCE6B;
    margin: 40%;
}

.colorBox9 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #FFD67D;
    margin: 40%;
}

.colorBox10 {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #999788;
    margin: 40%;
}


.row-container-color {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 10px;

}

.row-container-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;

}

.flex-item {
    font-family: 'Courier New', Courier, monospace;
    /* padding: 75px; */
    /* width: 200px; */
    /* height: 150px; */
    /* margin-top: 10px; */
    /* margin-left: 50px; */
}

/* Imagery */

.img-size{
    width: 50px;
    height: 50px;
    margin: 100px;
}

/*
====================================
BONUS: Sets up styles for mobile breakpoint 
====================================
*/

/* Hides mobile navigation on desktop */
.mobile-nav {
   
}

/* Sets media query for screens below 450px wide */
@media only screen and (max-width: 450px) {

    /* Position nav at the top */
    nav {
       position: fixed;
       left: 0;
    }

    /* Shows Mobile Navigation Styles  */
    .mobile-nav {
        background: white;
        width: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        height: 80px;
        margin: 0;
        box-shadow: 0 0 10px rgba(0,0,0, 0.4)
       
    }
    /* Sets max width for logos in mobile nav */
    .mobile-nav img {
        height: 80px;
    }

    /* Hides Sidebar on mobile */
    .sidebar-container {
       display: none;
    }
  
    /* Defines mobile container content */

    .section-container {
        background: #ffd67d;
        margin-top: 60px;
        margin-left: 0px;
        height: 100%;
      }

    /* Sets Type Styles */
    h1 {
        
    }


    .row-container-no-wrap {
      
    }

    #Logo .section-logo {
       
    }


}

/* 
====================================
BONUS: Sets up css code snippet styles 
====================================
*/

pre {

}
